<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Battle Server</title>
    <link rel="stylesheet" href="/styles.css">
    <style type="text/css">
        .container {
            text-align: left;
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>List of Players: </h2>
        <ul>
            {{range .Players}}
            <li>
                <b>Player {{ .Index }}:</b>
                <ul type="circle">
                    <li>Name: <b>{{ .Name}}</b> </li>
                    <li>Health: <b>{{ .Health}}</b> </li>
                    <li>Status: <b>{{ .Status}}</b> </li>
                    <br>
                </ul>
            </li>
            {{end}}
        </ul>
    </div>
</body>

</html>